
*.log
Industry_Academy/logs/db.log
Industry_Academy/logs/default.log
Industry_Academy/logs/default.log
Industry_Academy/logs/request.log
Industry_Academy/logs/template.log
Industry_Academy/local_settings.py
/media/
