{% extends 'base.html' %}
{% block title %} 資工產媒-備註 {% endblock %}
{% block headmessage %}
    <header>
        <h2>企業填寫備註</h2>
        <p>備註學生的相關訊息及想要的職缺.</p>
    </header>
{% endblock %}
{% block content %}
    <div class="box">
        <form method="post" action="">
            {% csrf_token %}
            <div class="row gtr-50 gtr-uniform">
                <div class="col-12">
                    <p>學號：{{ student.user.username }}</p>
                </div>
                <div class="col-12">
                    <p>學生姓名：{{ student.name }}</p>
                </div>
                <div class="col-12">
                    <font>應徵職位：</font><font color="#79aec8">{{ unit.vacancy }}</font>
                </div>
                <div class="col-12">
                    <hr/>
                </div>
                <div class="col-12">
                    <p>備註：</p>
                </div>
                <div class="col-12">
                    <textarea name="remark" id="remark" rows="8">{{ unit.remark }}</textarea>
                </div>
                <div class="col-12">
                    <ul class="actions special">
                        <li><input type="submit" value="送出" /></li>
                        <li><input type="reset" value="清除重填" /></li>
                    </ul>
                </div>
                <div class="col-10 col-12-mobilep">
                </div>
                <div class=" col-2 col-12-mobilep">
                    <ul class="actions special">
                        <li><a href="/match/companyAdmission" class="button alt small icon fa-reply">上一頁</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock %}