{% extends 'base.html' %}
{% block title %} 資工產媒-學生投遞公司總覽 {% endblock %}
{% block headmessage %}
    <header>
        <h2>學生投遞公司總覽</h2>
        <p>各學生投遞的公司.</p>
    </header>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="col-12">
            {% for unit in company_ob %}
                <h2 style="color: #79aec8;">{{ unit.name }}</h2>
                <ul class="alt">
                    {% for student in unit.resume_set.all %}
                        <li>學號:{{ student.student.user.username }}&emsp;姓名: {{ student.student.name }}</li>
                    {% endfor %}
                </ul>
                <div class="col-12">
                    <hr>
                </div>
            {% endfor %}
            <div class=" col-10 col-12-mobilep">
            </div>
            <div class=" col-2 col-12-mobilep">
                <ul class="actions special">
                    <li><a href="/manager" class="button alt small icon fa-reply">上一頁</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}