{% extends 'base.html' %}
{% block title %} 資工產媒-履歷審察 {% endblock %}
{% block headmessage %}
    <header>
        <h2>企業履歷審察</h2>
        <p>審閱履歷.</p>
    </header>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <form method="POST" action="">
                {% csrf_token %}
                <section class="box">
                    <div class="table-wrapper">
                        <table>
                           <thead>
                           <tr>
                               <th>姓名</th>
                               <th>聯絡電話</th>
                               <th>Email</th>
                               <th>履歷</th>
                               <th>履歷回饋</th>
                               <th>備註</th>
                           </tr>
                           </thead>
                            <tbody>
                                {% for unit in units.resume_set.all %}
                                    <tr>
                                        <td>{{ unit.student.name }}</td>
                                        <td>{{ unit.student.phone }}</td>
                                        <td>{{ unit.student.email }}</td>
                                        <td><a href="/media/{{ unit.resume }}" target="_blank">觀看履歷</a></td>
                                        <td><a href="/system/match/companyReview/{{ unit.id }}" class="icon fa-search" target="_blank">審查履歷結果</a></td>
                                        <td><a href="/system/match/companyRemark/{{ unit.id }}" class="icon fa-pencil" target="_blank">撰寫</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-10 col-12-mobilep">
                        </div>
                        <div class=" col-2 col-12-mobilep">
                            <ul class="actions special">
                                <li><a href="/system/company" class="button alt small icon fa-reply">上一頁</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
{% endblock %}