{% extends 'base.html' %}
{% block title %} 資工產媒-履歷審核狀態及公司志願序 {% endblock %}
{% block headmessage %}
    <header>
        <h2>履歷審核狀態及公司志願序</h2>
        <p>您目前的履歷審核狀態與公司的志願排序.</p>
    </header>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-12">
                {% if message %}
                    <div class="alert alert-warning" style="color: red">{{message}}</div>
                {% endif %}
            </div>
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <td>企業公司<td>
                            <td>履歷審閱狀態</td>
                            <td>審閱建議</td>
                            <td>當前志願序<td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unit in admission %}
                            <tr>
                                <td>{{ unit.company.name }}<td>
                                {% if unit.review == "已審閱，歡迎參加進一步面試" %}
                                    <td style="color: #7fcdb8">{{ unit.review }}</td>
                                {% elif unit.review == "已審閱，靜待通知" %}
                                    <td style="color: gold">{{ unit.review }}</td>
                                {% elif unit.review == "已審閱，很抱歉不符合本公司資格" %}
                                    <td style="color: indianred">{{ unit.review }}</td>
                                {% else %}
                                    <td>{{ unit.review }}</td>
                                {% endif %}
                                {% if unit.feedback != "" %}
                                    <td><a href="/match/studentFeedback/{{ unit.id }}" class="icon fa-search" target="_blank">檢視</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if unit.volunteer_order != None %}
                                    <td style="text-align:center">{{ unit.volunteer_order }}<td>
                                {% else %}
                                    <td>尚未填寫志願序！<td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <div class="col-12">
                <ul class="actions special">
                    <li><a href="/match/studentSort" class="button special">填寫志願序</a></li>
                </ul>
            </div>
            <div class=" col-10 col-12-mobilep">
            </div>
            <div class=" col-2 col-12-mobilep">
                <ul class="actions special">
                    <li><a href="/student" class="button alt small icon fa-reply">上一頁</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}