{% extends 'base.html' %}
{% block title %} 資工產媒-修改密碼  {% endblock %}
{% block headmessage %}
    <header>
        <h2>修改使用者密碼</h2>
        <p>請輸入原始密碼與修改的密碼.</p>
    </header>
{% endblock %}
{% block content %}
    <div class="box">
        <form action="" method="POST">
            {% csrf_token %}
            <div align='center'>
                {% if request.user.profile.role == 1 %}
                    <span align='center' class="icon major fa-user accent4"></span>
                {% elif request.user.profile.role == 2 %}
                    <span align='center' class="icon major fa-building accent3"></span>
                {% endif %}
            </div>
            {% if message %}
                <div class="alert alert-warning" style="color: red">{{message}}</div>
                <br/>
            {% endif %}
            <div class="col-12">
                <h4>密碼長度至少8字元</h4>
                <h4>不能與帳戶雷同且不能全是數字</h4>
            </div>
            <div class="row gtr-50 gtr-uniform">
                <div class="col-12">
                    <input type="password" name="old" id="old" value="" placeholder="舊密碼" autocomplete=off/>
                </div>
                <div class="col-12">
                    <input type="password" minlength="8" name="new" id="new" value="" placeholder="新密碼 [至少8個字元]" autocomplete=off required/>
                </div>
                <div class="col-12">
                    <input type="password" minlength="8" name="check" id="check" value="" placeholder="確認密碼" autocomplete=off required/>
                </div>
                <div class="col-12">
                    <ul class="actions special">
                        <li><input type="submit" value="儲存" /></li>
                        <li><input type="reset" value="清除重填" /></li>
                    </ul>
                </div>
                <div class="col-10 col-12-mobilep">
                </div>
                <div class=" col-2 col-12-mobilep">
                    <ul class="actions special">
                        {% if request.user.profile.role == 1 %}
                            <li><a href="/student/studentInformation" class="button alt small icon fa-reply">上一頁</a></li>
                        {% elif request.user.profile.role == 2 %}
                            <li><a href="/company/companyContactPersonInformation" class="button alt small icon fa-reply">上一頁</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock %}