{% extends 'base.html' %}
{% block title %} 資工產媒-公佈欄  {% endblock %}
{% block headmessage %}
    <header>
        <h2>公佈欄</h2>
        <p>相關資訊與時程.</p>
    </header>
{% endblock %}
{% block content %}
    <div class="box">
        <h3>{{ unit.title }}</h3>
        <h1 align="right">{{ unit.created }}</h1>
        <hr/>
        <p>{{ unit.content|linebreaksbr }}</p>
        <div class=" col-10 col-12-mobilep">
        </div>
        <div class="col-6 col-12-mobilep">
                {% if unit.url != "" %}
                    <strong>附加檔案：</strong>
                    <a href="/media/{{ unit.url }}" target="_blank">檔案</a>
                {% endif %}
            </div>
        <div class="row">
            <div class="col-10 col-12-mobilep">
            </div>
            <div class=" col-2 col-12-mobilep">
                <ul class="actions special">
                    <li><a href="/post" class="button alt small icon fa-reply">上一頁</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}