{% extends 'base.html' %}
{% block title %} 資工產媒-公佈欄管理  {% endblock %}
{% block headmessage %}
    <header>
        <h2>公佈欄管理</h2>
        <p>新增、編輯、刪除公佈欄訊息.</p>
    </header>
{% endblock %}
{% block content %}
    <div class="box">
        {% if message %}
            <div class="alert alert-warning" style="color: red">{{message}}</div>
            <br/>
        {% endif %}
        <div class="row gtr-50 gtr-uniform">
            <div class="col-10 col-12-mobilep">
            </div>
            <div class=" col-2 col-12-mobilep">
                <ul class="actions special">
                    <li><a href="/manager/postNew" class="button alt">新增公佈欄訊息</a></li>
                </ul>
            </div>
        </div>
        <br/>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>標題</th>
                    <th width="20%">發布日期</th>
                </tr>
                </thead>
                <tbody>
                {% for unit in message_units %}
                    <tr>
                        <td><a href="/manager/postDel/{{ unit.id }}">{{ unit.title }}</a></td>
                        <td>{{ unit.created }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row gtr-50 gtr-uniform">
            <div class="col-10 col-12-mobilep">
            </div>
            <div class=" col-2 col-12-mobilep">
                <ul class="actions special">
                    <li><a href="/manager" class="button alt small icon fa-reply">上一頁</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}