{% extends 'base.html' %}
{% block title %} 資工產媒-學生資料  {% endblock %}
{% block headmessage %}
    <header>
        <h2>學生編輯個人資訊</h2>
        <p>學生相關資料.</p>
    </header>
{% endblock %}
{% block content %}
    <div class="box">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row gtr-50 gtr-uniform">
                <div class="col-12">
                    {% if message %}
                        <div class="alert alert-warning" style="color: red">{{message}}</div>
                    {% endif %}
                </div>
                <div class="col-6 col-12-mobilep">
                    <h4>學號 *</h4>
                    <input type="text" readonly="id" placeholder="{{ request.user.username }}" />
                </div>
                <div class="col-6 col-12-mobilep">
                    <h4>姓名 *</h4>
                    <input type="text" name="name" id="name" value="{{ unit.name }}" maxlength="10" required/>
                </div>
                <div class="col-12">
                    <h4>班級 *</h4>
                    <input type="text" name="class" id="class" value="{{ unit.class_name }}" maxlength="10" required/>
                </div>
                <div class="col-12">
                    <h4>聯絡電話</h4>
                    <input type="text" name="phone" id="phone" value="{{ unit.phone }}" maxlength="20" />
                </div>
                <div class="col-12">
                    <h4>Email</h4>
                    <input type="email" name="email" id="email" value="{{ unit.email }}" maxlength="50" />
                </div>
                <div class="col-12">
                    <ul class="actions special">
                        <li><input type="submit" value="送出" /></li>
                        <li><input type="reset" value="清除重填" /></li>
                    </ul>
                </div>
                <div class=" col-10 col-12-mobilep">
                </div>
                <div class=" col-2 col-12-mobilep">
                    <ul class="actions special">
                        <li><a href="/student/studentInformation" class="button alt small icon fa-reply">上一頁</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock %}